API/node_modules/
API/package-lock.json
API/.*
API/yarn.lock
API/pnpm-lock.yaml
API/pnpm-workspace.yaml

FRONT/node_modules/
FRONT/package-lock.json
FRONT/yarn.lock
FRONT/pnpm-lock.yaml
FRONT/pnpm-workspace.yaml
FRONT/pnpm-store.yaml

*.code-workspace
mongo-create-init.js
node_modules
